version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'monthly'
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope
    open-pull-requests-limit: 5
    groups:
      # All Nx updates must occur together.
      # See: https://nx.dev/recipes/tips-n-tricks/keep-nx-versions-in-sync
      nx:
        patterns:
          - "nx"
          - "@nrwl/*"
          - "@nx/*"
        update-types:
          - "patch"
          - "minor"
