@tailwind base;
@tailwind components;
@tailwind utilities;

.sr-only {
  @apply overflow-hidden absolute p-0 w-[1px] h-[1px] whitespace-nowrap border-0;

  clip-path: rect(0 0 0 0);
}

.navbar-open {
  @apply h-screen overflow-y-hidden;
}

/*
  Hide the top-left buttons in the Code Hike block.
  See: https://codehike.org/docs/ch-code#panels
*/
.labs-blog-cell-in-out .ch-frame-buttons {
  display: none;
}
