@tailwind base;
@tailwind components;
@tailwind utilities;

.sr-only {
  @apply overflow-hidden absolute p-0 w-[1px] h-[1px] whitespace-nowrap border-0;

  clip-path: rect(0 0 0 0);
}

.page-link-classname {
  @apply text-center max-h-min inline-block w-[2rem] text-[1.6rem] font-medium font-heading leading-[2.9rem] transition-colors hover:border-b-violet;

  border-bottom: 2px solid transparent;
}

.active-link-classname {
  @apply text-violet;

  border-bottom: 2px solid #452393;
}
