@tailwind base;
@tailwind components;
@tailwind utilities;

.sr-only {
  @apply overflow-hidden absolute p-0 w-[1px] h-[1px] whitespace-nowrap border-0;

  clip-path: rect(0 0 0 0);
}

.navbar-open {
  @apply h-screen overflow-y-hidden;
}

.page-link-classname {
  @apply text-center max-h-min inline-block w-[2rem] text-[1.6rem] font-medium font-heading leading-[2.9rem] transition-colors hover:border-b-violet;

  border-bottom: 2px solid transparent;
}

.active-link-classname {
  @apply text-violet;

  border-bottom: 2px solid #452393;
}

/* Mobile first  */
.nebari-hero-background {
  background-repeat: no-repeat;
  background-image: url(/nebari-services/quansight-logo-black-grayscale.svg),
    url(/nebari-services/nebari-logo-grayscale.svg);
  background-position: left top, right bottom;
  background-size: 240px, 225px;
  background-color: theme('colors.black');
}

/* Tablet */
@media screen(sm) {
  .nebari-hero-background {
    background-size: calc(39vw - 10px), calc(37vw - 12px);
  }
}

/* Desktop */
@media screen(lg) {
  .nebari-hero-background {
    background-position: calc(50% - 343px) calc(100% - 10px),
      calc(50% + 343px) calc(100% - 18px);
    background-size: auto, auto;
  }
}
