@tailwind base;
@tailwind components;
@tailwind utilities;

.sr-only {
  @apply overflow-hidden absolute p-0 w-[1px] h-[1px] whitespace-nowrap border-0;

  clip-path: rect(0 0 0 0);
}

.navbar-open {
  @apply h-screen overflow-y-hidden;
}

.page-link-classname {
  @apply text-center max-h-min inline-block w-[2rem] text-[1.6rem] font-medium font-heading leading-[2.9rem] transition-colors hover:border-b-violet;

  border-bottom: 2px solid transparent;
}

.active-link-classname {
  @apply text-violet;

  border-bottom: 2px solid #452393;
}

.nebari-hero-background {
  background: url('/nebari-services/quansight-logo-black-grayscale.svg') left
      top / 225px no-repeat,
    url('/nebari-services/nebari-logo-grayscale.svg') right bottom / 240px
      no-repeat,
    black;
}

@media screen(sm) {
  .nebari-hero-background {
    background: url('/nebari-services/quansight-logo-black-grayscale.svg') left
        top / calc(37vw - 12px) no-repeat,
      url('/nebari-services/nebari-logo-grayscale.svg') right bottom /
        calc(39vw - 10px) no-repeat,
      black;
  }
}

@media screen(lg) {
  .nebari-hero-background {
    background: url('/nebari-services/quansight-logo-black-grayscale.svg')
        calc(50% - 343px) calc(100% - 23px) no-repeat,
      url('/nebari-services/nebari-logo-grayscale.svg') calc(50% + 280px)
        calc(100% - 10px) no-repeat,
      black;
  }
}
